<table class="table table-bordered text-center table-sm" style="user-select: none">
    <thead>
        <tr>
            <th style="width: 5%" class="pointer" ng-click="openNewDriverModal()"><i
                    class="fas fa-user-plus fa-lg animated"></i></th>
            <th>ID</th>
            <th>Driver Name</th>
            <th>Phone number</th>
            <th>Address</th>
        </tr>
    </thead>
    <tbody>
        <tr dir-paginate="driver in drivers|itemsPerPage:10">
            <td class="pointer" ng-dblclick="openEditDriverModal(driver.driver_ID)"><i
                    class="fas fa-user-edit fa-lg text-dark"></i></td>
            <td>{{driver.driver_ID}}</td>
            <td>{{driver.driver_name}}</td>
            <td ng-if="driver.driver_phone">{{driver.driver_phone}}</td>
            <td ng-if="!driver.driver_phone"> --- </td>

            <td ng-if="driver.driver_address">{{driver.driver_address}}</td>
            <td ng-if="!driver.driver_address"> --- </td>
        </tr>

        <tr class="table-active" ng-if="drivers.length === 0">
            <td colspan="5">No data available in table</td>
        </tr>
    </tbody>
</table>
<dir-pagination-controls max-size="5" direction-links="true" boundary-links="false"
    template-url="../templates/dirPagination.tpl.html">
</dir-pagination-controls>
</div>

<!-- driver modal -->
<div class="modal fade" id="driverModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">{{modalTitle}}</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <form ng-submit="submit()">
                <!-- Modal body -->
                <div class="modal-body">
                    <div class="from-group">
                        <label>Driver Name</label>
                        <input spellcheck="false" type="text" class="form-control" ng-model="driverDetails.driver_name" required
                            autofocus>
                    </div>
                    <div class="from-group">
                        <label>Driver Phone</label>
                        <input type="text" class="form-control" ng-model="driverDetails.driver_phone" min="0">
                    </div>
                    <div class="from-group">
                        <label>Driver Address</label>
                        <input type="text" class="form-control" ng-model="driverDetails.driver_address">
                    </div>
                </div>
                <!-- Modal footer -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal"><i
                            class="fas fa-times fa-fw"></i> Cancel</button>
                    <button type="submit" class="btn btn-success"><i class="fas fa-check fa-fw"></i>
                        Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>