<div class="container-fluid">
    <!-- Navigation tabs -->
    <div class="container justify-content-center d-flex">
        <ul class="nav nav-tabs nav-fills">
            <li class="nav-item text-center">
                <a class="nav-link text-secondary text-uppercase animate__animated"
                    ng-class="{'active': selectedTab === 'statement', 'active-tab-dir': selectedTab === 'statement', 'animate__fadeIn': selectedTab === 'statement'}"
                    ng-click="selectTab('statement')"><i class="fas fa-chart-pie fa-2x fa-fw"></i> Customer
                    Statement</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-secondary text-uppercase animate__animated"
                    ng-class="{'active': selectedTab === 'details', 'active-tab-dir': selectedTab === 'details', 'animate__fadeIn': selectedTab === 'details'}"
                    ng-click="selectTab('details')"><i class="fas fa-users-cog fa-2x fa-fw"></i> Customer Details</a>
            </li>
        </ul>
    </div>

    <!-- ******************************************************************************************** -->
    <!-- ********************************** Customer statement ************************************** -->
    <!-- ******************************************************************************************** -->

    <div ng-show="selectedTab === 'statement'" class="row mt-4">
        <div class="col-4 select-off">
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text">
                        <i class="fas fa-search"></i>
                    </span>
                </div>
                <input spellcheck="false" id="debtsSearch" type="text" class="form-control col-6"
                    placeholder="Search ..." ng-model="statementSearch">
            </div>
            <table class="table table-sm table-bordered text-center mt-3 table-hover">
                <thead>
                    <tr>
                        <th width="68%">Customer Name</th>
                        <th width="32%" ng-click="sortDue('customer_due')"><i class="fas"
                                ng-show="sortDueData.key == 'customer_due'"
                                ng-class="{'fa-sort-amount-down-alt fa-fw': !sortDueData.reverse, 'fa-sort-amount-up fa-fw': sortDueData.reverse}"></i>Total
                            Due</th>
                    </tr>
                </thead>
                <tbody>
                    <tr pagination-id="customerDue"
                        dir-paginate="customer in customers | orderBy:sortDueData.key:sortDueData.reverse| filter: statementSearch | itemsPerPage:15"
                        ng-click="getDetails(customer.customer_ID)" class="pointer"
                        ng-class="{'table-active': isActive(customer.customer_ID)}">
                        <td>{{ customer.customer_name }}</td>
                        <td>{{ customer.customer_due.toLocaleString() }} L.L</td>
                    </tr>
                    <tr ng-if="(customers | filter:statementSearch).length == 0 && statementSearch"
                        class="table-active select-off">
                        <td colspan="2">No Matching Records Found!</td>
                    </tr>
                </tbody>
            </table>
            <div>
                <dir-pagination-controls pagination-id="customerDue" max-size="5" direction-links="true"
                    boundary-links="false" template-url="../templates/dirPagination.tpl.html">
                </dir-pagination-controls>
            </div>
        </div>

        <div class="col-8">
            <div class="row justify-content-center">
                <div class="col-11">
                    <div ng-if="activeRow != null" class="card">
                        <div class="card-header p-0">
                            <ul class="nav nav-tabs nav-fill" style="border-bottom: 0px !important;">
                                <li class="nav-item">
                                    <a class="nav-link text-secondary text-uppercase animate__animated"
                                        ng-class="{'active': subTabSelected === 1, 'active-tab-dir': subTabSelected === 1, 'animate__fadeIn': subTabSelected === 1}"
                                        ng-click="selectSubTab(1)"><i class="fas fa-archive fa-2x fa-fw"></i> Orders
                                        archive</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-secondary text-uppercase animate__animated"
                                        ng-class="{'active': subTabSelected === 0, 'active-tab-dir': subTabSelected === 0, 'animate__fadeIn': subTabSelected === 0}"
                                        ng-click="selectSubTab(0)"><i class="fas fa-hand-holding-usd fa-2x fa-fw"></i>
                                        Due
                                        payments</a>
                                </li>
                            </ul>
                        </div>
                        <div class="card-body pt-2">
                            <!-- Orders archive -->
                            <div ng-if="subTabSelected === 1">
                                <div class="row d-flex justify-content-between">
                                    <div class="col-6 d-flex align-items-center justify-content-center">
                                        <h4 class="mb-0"><i class="fas fa-user-circle fa-lg text-dark"></i>
                                            {{customers[activeRow].customer_name}}</h4>
                                    </div>
                                    <div class="col-4">
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text">
                                                    <i class="fas fa-search"></i>
                                                </span>
                                            </div>
                                            <input id="search" type="text" class="form-control" ng-model="searchArchive"
                                                placeholder="Search ...">
                                        </div>
                                    </div>
                                </div>
                                <table class="table table-bordered table-hover text-center table-sm mt-2 select-off">
                                    <thead>
                                        <tr>
                                            <th width="25%">Status</th>
                                            <th width="25%">Date</th>
                                            <th width="25%">Recipient</th>
                                            <th width="25%">Order Value</th>

                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr dir-paginate="data in selectedArchive | filter: searchArchive | itemsPerPage:10"
                                            pagination-id="debts" class="pointer" ng-click="openOrderDetails(data)">
                                            <td>{{ data.order_status }}</td>
                                            <td>{{ data.order_date }}</td>
                                            <td>{{ data.recipient_name }}</td>
                                            <td>{{ data.order_value.toLocaleString() }} L.L</td>
                                        </tr>

                                        <tr ng-if="selectedArchive.length == 0" class="table-active">
                                            <td colspan="4">No Records Yet!</td>
                                        </tr>

                                        <tr ng-if="(selectedArchive | filter:searchArchive).length == 0 && searchArchive"
                                            class="table-active">
                                            <td colspan="4">No Matching Records Found!</td>
                                        </tr>
                                    </tbody>
                                </table>

                                <dir-pagination-controls pagination-id="debts" max-size="5" direction-links="true"
                                    boundary-links="false" template-url="../templates/dirPagination.tpl.html">
                                </dir-pagination-controls>
                            </div>
                            <!-- Due payments -->
                            <div ng-if="subTabSelected === 0">
                                <div class="row">
                                    <div class="col d-flex align-items-center justify-content-center">
                                        <h4 class="mb-0"><i class="fas fa-user-circle fa-lg text-dark"></i>
                                            {{customers[activeRow].customer_name}}</h4>
                                    </div>
                                    <div class="col">
                                        <button ng-click="receivePaymentModal()"
                                            class="btn btn-outline-success float-right"><i
                                                class="fas fa-hand-holding-usd fa-lg"></i> Deliver Payment</button>
                                    </div>
                                </div>
                                <table class="table table-bordered text-center table-sm mt-2 select-off">
                                    <thead>
                                        <tr>
                                            <th width="25%">Payment Amount</th>
                                            <th width="25%">Date</th>
                                            <th width="25%">Time</th>
                                            <th width="25%">Notes</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr dir-paginate="payment in selectedPaymentDetails | itemsPerPage:10"
                                            pagination-id="payments" ng-dblclick="editPaymentModal(payment)"
                                            class="pointer">
                                            <td>{{ payment.payment_amount.toLocaleString() }} L.L</td>
                                            <td>{{ payment.payment_date }}</td>
                                            <td>{{ payment.payment_time }}</td>

                                            <td ng-if="payment.payment_notes">{{ payment.payment_notes }}</td>
                                            <td ng-if="!payment.payment_notes"> --- </td>
                                        </tr>
                                        <tr ng-if="selectedPaymentDetails.length == 0" class="table-active select-off">
                                            <td colspan="4">No Payment Records Yet!</td>
                                        </tr>
                                    </tbody>
                                </table>
                                <dir-pagination-controls pagination-id="payments" max-size="5" direction-links="true"
                                    boundary-links="false" template-url="../templates/dirPagination.tpl.html">
                                </dir-pagination-controls>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Receive Payment modal -->
    <div class="modal fade" id="receivePaymentModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">Receive Payment</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <form ng-submit="submitPayment()">
                    <!-- Modal body -->
                    <div class="modal-body">
                        <label class="mb-1">Payment Amount:</label>
                        <input type="number" class="form-control" placeholder="Amount" min="1000"
                            max="{{customers[activeRow]['customer_due']}}" ng-model="paymentData.payment_amount"
                            autofocus required>
                        <label class="mb-1 mt-3">Notes:</label>
                        <input type="text" spellcheck="false" class="form-control" placeholder="Notes"
                            ng-model="paymentData.payment_notes">
                    </div>
                    <!-- Modal footer -->
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal"><i
                                class="fas fa-times"></i>
                            Cancel</button>
                        <button type="submit" class="btn btn-success"><i class="fas fa-check"></i>
                            Confirm</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!-- Edit Payment modal -->
    <div class="modal fade" id="editPaymentModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">Edit Payment</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <form ng-submit="editPayment()">
                    <!-- Modal body -->
                    <div class="modal-body">
                        <label class="mb-1">Payment Amount:</label>
                        <input type="number" class="form-control" placeholder="Amount" min="1000"
                            ng-model="paymentData.payment_amount" autofocus required>
                        <label class="mb-1 mt-3">Notes:</label>
                        <input type="text" spellcheck="false" class="form-control" placeholder="Notes"
                            ng-model="paymentData.payment_notes">
                    </div>
                    <!-- Modal footer -->
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal"><i
                                class="fas fa-times"></i>
                            Cancel</button>
                        <button class="btn btn-danger" type="button" ng-click="deletePayment()"><i
                                class="far fa-trash-alt"></i> Delete</button>
                        <button type="submit" class="btn btn-success"><i class="fas fa-check"></i>
                            Confirm</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!-- Order details modal -->
    <div class="modal fade" id="orderDetailsModal">
        <div class="modal-dialog modal-xl modal-dialog-scrollable">
            <div class="modal-content">
                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">Order Details</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <table class="table table-bordered table-sm text-center">
                        <thead>
                            <tr class="main_customers_row">
                                <th colspan="3" class="cus_border_right">Order</th>
                                <th colspan="5" class="cus_border_right">Recipient</th>
                                <th colspan="2">Cost</th>
                            </tr>
                        </thead>
                        <tbody>
                            <!-- Sub Columns : -->
                            <tr class="sub_customers_row">
                                <td>Number</td>
                                <td>Date</td>
                                <td class="cus_border_right">Time</td>
                                <td>Name</td>
                                <td>Phone</td>
                                <td>Province</td>
                                <td>District</td>
                                <td class="cus_border_right">Town</td>
                                <td>Order</td>
                                <td>Delivery</td>
                            </tr>
                            <!-- Data Columns : -->
                            <tr>
                                <td>{{selectedOrderDetails.order_ID}}</td>

                                <td>{{selectedOrderDetails.order_date}}</td>

                                <td class="cus_border_right">{{selectedOrderDetails.order_time}}</td>

                                <td>{{selectedOrderDetails.recipient_name}}</td>

                                <td>{{selectedOrderDetails.recipient_phone}}</td>

                                <td>{{selectedOrderDetails.destination_province}}</td>

                                <td>{{selectedOrderDetails.destination_district}}</td>

                                <td class="cus_border_right">{{selectedOrderDetails.destination_town}}</td>

                                <td>{{selectedOrderDetails.order_value.toLocaleString()}} L.L</td>

                                <td>{{selectedOrderDetails.delivery_fee.toLocaleString()}} L.L</td>
                            </tr>
                            <!-- third row -->
                            <tr>
                                <td colspan="3" class="text-wrap order_note_col cus_border_right align-middle"><b>Notes
                                        :</b> {{selectedOrderDetails.order_notes}}</td>
                                <td colspan="5" class="cus_border_right align-middle"><b>Address :</b>
                                    {{selectedOrderDetails.destination_address}}</td>
                                <td colspan="2" class="align-middle"><b>Total :</b>
                                    {{(selectedOrderDetails.order_value + selectedOrderDetails.delivery_fee).toLocaleString()}}
                                    L.L</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <!-- *************************************************************************************************** -->
    <!----------------************************ CUSTOMER DETAILS TAB *****************************-------------->
    <!-- *************************************************************************************************** -->

    <div ng-show="selectedTab === 'details'">
        <div class="row justify-content-between mb-3 mt-3 select-off">
            <div class="col-6">
                <div class="row align-items-center">
                    <div class="col-auto">
                        <form class="form-inline">
                            <label>Show</label>
                            <select class="custom-select mr-1 ml-1" ng-model="itemsPerPage"
                                ng-options="option.value as option.name for option in options">
                            </select>
                            <label>entries</label>
                        </form>
                    </div>
                    <div class="col-auto">
                        <button class="btn btn-outline-success" ng-click="openNewCustomerModal()">+ Add +</button>
                    </div>

                </div>
            </div>
            <div class="col-3">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">
                            <i class="fas fa-search"></i>
                        </span>
                    </div>
                    <input id="search" type="text" class="form-control" ng-model="searchVal" placeholder="Search ..."
                        spellcheck="false">
                </div>
            </div>
        </div>

        <table class="table table-bordered text-center table-sm" style="user-select: none">
            <thead>
                <tr>
                    <th ng-click="sort('customer_ID')"><i class="fas" ng-show="sortKey == 'customer_ID'"
                            ng-class="{'fa-arrow-up': !reverse, 'fa-arrow-down': reverse}"></i> ID</th>
                    <th ng-click="sort('customer_name')"><i class="fas" ng-show="sortKey == 'customer_name'"
                            ng-class="{'fa-arrow-up': !reverse, 'fa-arrow-down': reverse}"></i> Customer Name</th>
                    <th>Phone number</th>
                    <th>Province</th>
                    <th>District</th>
                    <th>Town</th>
                    <th>Address</th>
                </tr>
            </thead>
            <tbody>
                <tr dir-paginate="customer in customers|filter: searchVal|orderBy:sortKey:reverse|itemsPerPage:10"
                    ng-dblclick="openEditCustomerModal(customer.customer_ID)" pagination-id="customerInfo"
                    class="pointer">
                    <td>{{customer.customer_ID}}</td>
                    <td>{{customer.customer_name}}</td>
                    <td>{{customer.customer_phone}}</td>
                    <td>{{customer.customer_province}}</td>
                    <td>{{customer.customer_district}}</td>
                    <td>{{customer.customer_town}}</td>
                    <td>{{customer.customer_address}}</td>
                </tr>

                <!-- if no data available -->
                <tr class="table-active" ng-if="customers.length === 0">
                    <td colspan="7">No data available in table</td>
                </tr>

                <!-- if search found nothing -->
                <tr ng-if="(customers | filter: searchVal).length == 0 && searchVal" class="table-active select-off">
                    <td colspan="7">No Matching Records Found!</td>
                </tr>
            </tbody>
        </table>
        <dir-pagination-controls pagination-id="customerInfo" max-size="5" direction-links="true" boundary-links="false"
            template-url="../templates/dirPagination.tpl.html">
        </dir-pagination-controls>

        <!-- customer modal -->
        <div class="modal fade" id="customerModal">
            <div class="modal-dialog">
                <div class="modal-content">
                    <!-- Modal Header -->
                    <div class="modal-header">
                        <h4 class="modal-title">{{modalTitle}}</h4>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <form ng-submit="submit()">
                        <!-- Modal body -->
                        <div class="modal-body">
                            <div class="row mb-2">
                                <div class="from-group col-6">
                                    <label>Customer Name</label>
                                    <input spellcheck="false" type="text" class="form-control"
                                        ng-model="customerDetails.customer_name" required autofocus>
                                </div>
                                <div class="from-group col-6">
                                    <label>Phone Number</label>
                                    <input spellcheck="false" class="form-control"
                                        ng-model="customerDetails.customer_phone" required>
                                </div>
                            </div>

                            <div class="row mb-2">
                                <div class="from-group col-6">
                                    <label>Province</label>
                                    <select class="form-control text-center"
                                        ng-model="customerDetails.customer_province" required>
                                        <option value=""></option>
                                        <option value="الجنوب">الجنوب</option>
                                        <option value="النبطية">النبطية</option>
                                        <option value="بيروت">بيروت</option>
                                        <option value="البقاع">البقاع</option>
                                        <option value="جبل لبنان">جبل لبنان</option>
                                        <option value="الشمال">الشمال</option>
                                        <option value="بعلبك الهرمل">بعلبك الهرمل</option>
                                        <option value="عكار">عكار</option>
                                        <option value="كسروان جبيل">كسروان جبيل</option>
                                    </select>
                                </div>
                                <div class="from-group col-6">
                                    <label>District</label>
                                    <select class="form-control text-center"
                                        ng-model="customerDetails.customer_district">
                                        <option value=""></option>

                                        <option value="المتن" ng-if="customerDetails.customer_province === 'جبل لبنان'">
                                            المتن</option>
                                        <option value="بعبدا" ng-if="customerDetails.customer_province === 'جبل لبنان'">
                                            بعبدا</option>
                                        <option value="عاليه" ng-if="customerDetails.customer_province === 'جبل لبنان'">
                                            عاليه</option>
                                        <option value="الشوف" ng-if="customerDetails.customer_province === 'جبل لبنان'">
                                            الشوف</option>

                                        <option value="جبيل"
                                            ng-if="customerDetails.customer_province === 'كسروان جبيل'">
                                            جبيل</option>
                                        <option value="كسروان"
                                            ng-if="customerDetails.customer_province === 'كسروان جبيل'">
                                            كسروان</option>

                                        <option value="زحلة" ng-if="customerDetails.customer_province === 'البقاع'">زحلة
                                        </option>
                                        <option value="البقاع  الغربي"
                                            ng-if="customerDetails.customer_province === 'البقاع'">البقاع الغربي
                                        </option>
                                        <option value="راشيا" ng-if="customerDetails.customer_province === 'البقاع'">
                                            راشيا
                                        </option>

                                        <option value="الهرمل"
                                            ng-if="customerDetails.customer_province === 'بعلبك الهرمل'">
                                            الهرمل</option>
                                        <option value="بعلبك"
                                            ng-if="customerDetails.customer_province === 'بعلبك الهرمل'">
                                            بعلبك</option>

                                        <option value="طرابلس" ng-if="customerDetails.customer_province === 'الشمال'">
                                            طرابلس
                                        </option>
                                        <option value="زغرتا - الزاوية"
                                            ng-if="customerDetails.customer_province === 'الشمال'">زغرتا - الزاوية
                                        </option>
                                        <option value="بشري" ng-if="customerDetails.customer_province === 'الشمال'">بشري
                                        </option>
                                        <option value="البترون" ng-if="customerDetails.customer_province === 'الشمال'">
                                            البترون</option>
                                        <option value="الكورة" ng-if="customerDetails.customer_province === 'الشمال'">
                                            الكورة
                                        </option>
                                        <option value="الضنية" ng-if="customerDetails.customer_province === 'الشمال'">
                                            الضنية
                                        </option>

                                        <option value="عكار" ng-if="customerDetails.customer_province === 'عكار'">عكار
                                        </option>

                                        <option value="صور" ng-if="customerDetails.customer_province === 'الجنوب'">صور
                                        </option>
                                        <option value="صيدا" ng-if="customerDetails.customer_province === 'الجنوب'">صيدا
                                        </option>
                                        <option value="جزين" ng-if="customerDetails.customer_province === 'الجنوب'">جزين
                                        </option>

                                        <option value="بنت جبيل"
                                            ng-if="customerDetails.customer_province === 'النبطية'">بنت
                                            جبيل</option>
                                        <option value="النبطية" ng-if="customerDetails.customer_province === 'النبطية'">
                                            النبطية</option>
                                        <option value="مرجعيون" ng-if="customerDetails.customer_province === 'النبطية'">
                                            مرجعيون</option>
                                        <option value="حاصبيا" ng-if="customerDetails.customer_province === 'النبطية'">
                                            حاصبيا</option>
                                    </select>
                                </div>
                            </div>

                            <div class="row mb-2">
                                <div class="from-group col-6">
                                    <label>Town</label>
                                    <input spellcheck="false" type="text" class="form-control"
                                        ng-model="customerDetails.customer_town" required>
                                </div>
                                <div class="from-group col-6">
                                    <label>Address</label>
                                    <input spellcheck="false" type="text" class="form-control"
                                        ng-model="customerDetails.customer_address" required>
                                </div>
                            </div>

                        </div>
                        <!-- Modal footer -->
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal"><i
                                    class="fas fa-times fa-fw"></i> Cancel</button>
                            <button type="submit" class="btn btn-success"><i class="fas fa-check fa-fw"></i>
                                Submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

</div>