<div class="container-fluid select-off">

    <div class="row mt-4">
        <div class="col-4">
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text">
                        <i class="fas fa-search"></i>
                    </span>
                </div>
                <input id="debtsSearch" type="text" class="form-control col-6" placeholder="Search ..."
                    ng-model="searchVal">
            </div>
            <table class="table table-sm table-bordered text-center mt-3 table-hover">
                <thead>
                    <tr>
                        <th width="68%">Customer Name</th>
                        <th width="32%" ng-click="sort('total')"><i class="fas" ng-show="sortData.key == 'total'"
                            ng-class="{'fa-sort-amount-up fa-fw': !sortData.reverse, 'fa-sort-amount-down-alt fa-fw': sortData.reverse}"></i>Total Debts</th>
                    </tr>
                </thead>
                <tbody>
                    <tr dir-paginate="customer in customerDebts | orderBy:sortData.key:sortData.reverse| filter: searchVal | itemsPerPage:15"
                        pagination-id="customers" ng-click="getDetails(customer.customer_ID)" class="pointer"
                        ng-class="{'table-active': isActive(customer.customer_ID)}">
                        <td>{{ customer.customer_name }}</td>
                        <td>{{ customer.customer_due.toLocaleString() }} L.L</td>
                    </tr>
                    <tr ng-if="(customerDebts | filter:searchVal).length == 0 && searchVal"
                        class="table-active select-off">
                        <td colspan="2">No Matching Records Found!</td>
                    </tr>
                </tbody>
            </table>
            <div>
                <dir-pagination-controls pagination-id="customers" max-size="5" direction-links="true"
                    boundary-links="false" template-url="../templates/dirPagination.tpl.html">
                </dir-pagination-controls>
            </div>
            <!-- <div>
                <canvas id="totalDebtsChart"></canvas>
                <table class="table table-sm table-bordered text-center mt-1">
                    <thead>
                        <tr>
                            <th class="table-success" width="50%">Services:
                                {{totalDebts[1]['remaining'].toLocaleString()}} L.L</th>
                            <th class="table-dark" width="50%">Stock: {{totalDebts[0]['remaining'].toLocaleString()}}
                                L.L</th>
                        </tr>
                        <tr>
                            <th class="table-danger" colspan="2">
                                Total Debts: {{ (totalDebts[0].remaining + totalDebts[1].remaining).toLocaleString() }}
                                L.L
                            </th>
                        </tr>
                    </thead>
                </table>
            </div> -->
        </div>

        <div class="col-8">
            <div class="row justify-content-center">
                <div class="col-11">
                    <div ng-if="activeRow != null" class="card">
                        <div class="card-header p-0">
                            <!-- <md-tabs layout="column" md-stretch-tabs="always">
                                <md-tab layout="column" ng-click="selectTab(1)"><i class="fas fa-archive fa-2x"></i>
                                    debts archive</md-tab>
                                <md-tab layout="column" ng-click="selectTab(0)"><i
                                        class="fas fa-hand-holding-usd fa-2x"></i> debts payments</md-tab>
                            </md-tabs> -->
                            <ul class="nav nav-tabs nav-fill" style="border-bottom: 0px !important;">
                                <li class="nav-item">
                                    <a class="nav-link text-secondary text-uppercase animate__animated"
                                        ng-class="{'active': tabSelected === 1, 'active-tab-dir': tabSelected === 1, 'animate__fadeIn': tabSelected === 1}"
                                        ng-click="selectTab(1)"><i class="fas fa-archive fa-2x fa-fw"></i>debts
                                        archive</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-secondary text-uppercase animate__animated"
                                        ng-class="{'active': tabSelected === 0, 'active-tab-dir': tabSelected === 0, 'animate__fadeIn': tabSelected === 0}"
                                        ng-click="selectTab(0)"><i class="fas fa-hand-holding-usd fa-2x fa-fw"></i>debts
                                        payments</a>
                                </li>
                            </ul>
                        </div>
                        <div class="card-body pt-2">
                            <!-- debts archive -->
                            <div ng-if="tabSelected === 1">
                                <div class="row d-flex justify-content-between">
                                    <div class="col-6 d-flex align-items-center justify-content-center">
                                        <h4 class="mb-0"><i class="fas fa-user-circle fa-lg text-dark"></i>
                                            {{customerDebts[activeRow].customer_name}}</h4>
                                    </div>
                                    <div class="col-4">
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text">
                                                    <i class="fas fa-search"></i>
                                                </span>
                                            </div>
                                            <input id="search" type="text" class="form-control" ng-model="searchDebts"
                                                placeholder="Search ...">
                                        </div>
                                    </div>
                                </div>
                                <table class="table table-bordered table-hover text-center table-sm mt-2">
                                    <thead>
                                        <tr>
                                            <th width="25%">Type</th>
                                            <th width="25%">Date</th>
                                            <th width="25%">Time</th>
                                            <th width="25%">Total Price</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr dir-paginate="data in selectedDetails | filter: searchDebts | itemsPerPage:5"
                                            pagination-id="debts" class="pointer"
                                            ng-click="getInvoiceDetails(data.invoice_details, data.table_name)">
                                            <td>{{ data.table_name }}</td>
                                            <td>{{ data.inv_date }}</td>
                                            <td>{{ data.inv_time }}</td>
                                            <td>{{ data.inv_total_price.toLocaleString() }} L.L</td>
                                        </tr>

                                        <tr ng-if="selectedDetails.length == 0" class="table-active">
                                            <td colspan="4">No Debts Records Yet!</td>
                                        </tr>

                                        <tr ng-if="(selectedDetails | filter:searchDebts).length == 0 && searchDebts"
                                            class="table-active">
                                            <td colspan="4">No Matching Records Found!</td>
                                        </tr>
                                    </tbody>
                                </table>

                                <dir-pagination-controls pagination-id="debts" max-size="5" direction-links="true"
                                    boundary-links="false" template-url="../templates/dirPagination.tpl.html">
                                </dir-pagination-controls>
                            </div>
                            <!-- debts payments -->
                            <div ng-if="tabSelected === 0">
                                <div class="row">
                                    <div class="col d-flex align-items-center justify-content-center">
                                        <h4 class="mb-0"><i class="fas fa-user-circle fa-lg text-dark"></i>
                                            {{customerDebts[activeRow].customer_name}}</h4>
                                    </div>
                                    <div class="col">
                                        <button ng-click="receivePaymentModal()"
                                            class="btn btn-outline-success float-right"><i
                                                class="fas fa-hand-holding-usd fa-lg"></i> Receive Payment</button>
                                    </div>
                                </div>
                                <table class="table table-bordered text-center table-sm mt-2">
                                    <thead>
                                        <tr>
                                            <th width="25%">Payment Amount</th>
                                            <th width="25%">Date</th>
                                            <th width="25%">Time</th>
                                            <th width="25%">Notes</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr dir-paginate="payment in selectedPaymentDetails | itemsPerPage:5"
                                            pagination-id="payments" ng-dblclick="editPaymentModal(payment)"
                                            class="pointer">
                                            <td>{{ payment.payment_amount.toLocaleString() }} L.L</td>
                                            <td>{{ payment.payment_date }}</td>
                                            <td>{{ payment.payment_time }}</td>

                                            <td ng-if="payment.payment_notes">{{ payment.payment_notes }}</td>
                                            <td ng-if="!payment.payment_notes"> --- </td>
                                        </tr>
                                        <tr ng-if="selectedPaymentDetails.length == 0" class="table-active select-off">
                                            <td colspan="4">No Payment Records Yet!</td>
                                        </tr>
                                    </tbody>
                                </table>
                                <dir-pagination-controls pagination-id="payments" max-size="5" direction-links="true"
                                    boundary-links="false" template-url="../templates/dirPagination.tpl.html">
                                </dir-pagination-controls>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Receive Payment modal -->
    <div class="modal fade" id="receivePaymentModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">Receive Payment</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <form ng-submit="submitPayment()">
                    <!-- Modal body -->
                    <div class="modal-body">
                        <label class="mb-1">Payment Amount:</label>
                        <input type="number" class="form-control" placeholder="Amount" min="1000"
                            max="{{customerDebts[activeRow]['customer_due']}}" ng-model="paymentData.payment_amount"
                            autofocus required>
                        <label class="mb-1 mt-3">Notes:</label>
                        <input type="text" spellcheck="false" class="form-control" placeholder="Notes"
                            ng-model="paymentData.payment_notes">
                    </div>
                    <!-- Modal footer -->
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal"><i
                                class="fas fa-times"></i>
                            Cancel</button>
                        <button type="submit" class="btn btn-success"><i class="fas fa-check"></i>
                            Confirm</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!-- Edit Payment modal -->
    <div class="modal fade" id="editPaymentModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">Edit Payment</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <form ng-submit="editPayment()">
                    <!-- Modal body -->
                    <div class="modal-body">
                        <label class="mb-1">Payment Amount:</label>
                        <input type="number" class="form-control" placeholder="Amount" min="1000"
                            ng-model="paymentData.payment_amount" autofocus required>
                        <label class="mb-1 mt-3">Notes:</label>
                        <input type="text" spellcheck="false" class="form-control" placeholder="Notes"
                            ng-model="paymentData.payment_notes">
                    </div>
                    <!-- Modal footer -->
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal"><i
                                class="fas fa-times"></i>
                            Cancel</button>
                        <button class="btn btn-danger" type="button" ng-click="deletePayment()"><i
                                class="far fa-trash-alt"></i> Delete</button>
                        <button type="submit" class="btn btn-success"><i class="fas fa-check"></i>
                            Confirm</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!-- Invoice details modal -->
    <div class="modal fade" id="invoiceDetailsModal">
        <div class="modal-dialog modal-dialog-centered modal-lg modal-dialog-scrollable">
            <div class="modal-content">
                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">Invoice Details</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <table class="table table-bordered table-sm text-center">
                        <thead>
                            <tr>
                                <th width="60%">Item Name</th>
                                <th width="15%">Quantity</th>
                                <th width="25%">Price</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="item in selectedInvoiceDetails">
                                <td ng-if="item.item_name">{{item.item_name}}</td>
                                <td ng-if="item.service_name">{{item.service_name}}</td>

                                <td>{{item.qty}}</td>

                                <td ng-if="item.item_price">{{item.item_price.toLocaleString()}} L.L</td>
                                <td ng-if="item.service_price">{{item.service_price.toLocaleString()}} L.L</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

</div>