<div class="container-fluid select-off">
    <div class="row justify-content-between mb-3 mt-3 select-off">
        <div class="col-6">
            <div class="row align-items-center">
                <div class="col-auto">
                    <form class="form-inline">
                        <label>Select Driver:</label>
                        <select class="custom-select mr-3 ml-1" ng-model="selectedDriverID" required>
                            <option value=""> --- </option>
                            <option ng-repeat="driver in drivers" ng-value="driver.driver_ID">{{ driver.driver_name }}
                            </option>
                        </select>
                        <button type="submit" class="btn btn-outline-success" ng-click="getDriverOrders()"><i
                                class="fas fa-check"></i> Submit</button>
                    </form>
                </div>
                <div class="col-auto ml-auto" ng-if="driverOrders.length > 0">
                    <h5 class="mb-0">Total:
                        {{ (liraStatement.total_lira + liraStatement.total_delivery + dollarStatement.total_delivery).toLocaleString() }}
                        L.L + {{ dollarStatement.total_dollar.toLocaleString() || 0 }} $</h5>
                </div>
            </div>
        </div>
        <div class="col-3">
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text">
                        <i class="fas fa-search"></i>
                    </span>
                </div>
                <input id="search" type="text" class="form-control" ng-model="searchVal.value" placeholder="Search ..."
                    spellcheck="false">
            </div>
        </div>
    </div>
    <table class="table table-bordered table-striped table-sm text-center">
        <thead>
            <tr>
                <th width="15%">Customer Name</th>
                <th width="15%">Order Date</th>
                <th width="10%">Destination</th>
                <th width="10%">Phone</th>
                <th width="15%">Date Picked</th>
                <th width="13%">Order Value</th>
                <th width="10%">Delivery</th>
                <th colspan="3" width="12%">More</th>
            </tr>
        </thead>
        <tbody>
            <tr dir-paginate="data in driverOrders | filter: searchVal.value | itemsPerPage:10">
                <td>{{ data.customer_name }}</td>
                <td>{{ data.order_date }}</td>
                <td>{{ data.destination_town }}</td>
                <td>{{ data.recipient_phone }}</td>
                <td>{{ data.op_date }}</td>

                <td ng-if="data.order_currency == 'lira'">{{ data.order_value.toLocaleString() }} L.L</td>
                <td ng-if="data.order_currency == 'dollar'">{{ data.order_value.toLocaleString() }} $</td>

                <td>{{ data.delivery_fee.toLocaleString() }} L.L</td>

                <td width="4%" ng-click="openInfoModal(data)" class="btn-outline-info"><i class="fas fa-info-circle"></i></td>
                <td width="4%" ng-click="removeOrder(data.order_ID)" class="btn-outline-danger"><i class="fas fa-times"></i></td>
                <td  width="4%" ng-click="deliverOrder(data.order_ID)" class="btn-outline-success"><i class="fas fa-check"></i></td>
            </tr>

            <tr>
                <td colspan="11" class="table-active" ng-if="driverOrders.length === 0 && !searchVal.value">No data
                    available in table !</td>
            </tr>
        </tbody>
    </table>
    <dir-pagination-controls max-size="5" direction-links="true" boundary-links="false"
        template-url="../templates/dirPagination.tpl.html">
    </dir-pagination-controls>


    <!-- Order Info modal -->
    <div class="modal fade" id="infoModal">
        <div class="modal-dialog modal-xl modal-dialog-scrollable">
            <div class="modal-content">
                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">Order Info</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <table class="table table-bordered table-sm text-center">
                        <thead>
                            <tr class="main_customers_row">
                                <th colspan="3" class="cus_border_right">Order</th>
                                <th colspan="5" class="cus_border_right">Recipient</th>
                                <th colspan="2">Value</th>
                            </tr>
                        </thead>
                        <tbody>
                            <!-- Sub Columns : -->
                            <tr class="sub_customers_row">
                                <td>Number</td>
                                <td>Date</td>
                                <td class="cus_border_right">Time</td>
                                <td>Name</td>
                                <td>Phone</td>
                                <td>Province</td>
                                <td>District</td>
                                <td class="cus_border_right">Town</td>
                                <td>Order</td>
                                <td>Delivery</td>
                            </tr>
                            <!-- Data Columns : -->
                            <tr>
                                <td>{{orderInfo.order_ID}}</td>
                                <td>{{orderInfo.order_date}}</td>
                                <td class="cus_border_right">{{orderInfo.order_time}}</td>
                                <td>{{orderInfo.recipient_name}}</td>
                                <td>{{orderInfo.recipient_phone}}</td>
                                <td>{{orderInfo.destination_province}}</td>
                                <td>{{orderInfo.destination_district}}</td>
                                <td class="cus_border_right">{{orderInfo.destination_town}}</td>

                                <td ng-if="orderInfo.order_currency == 'lira'">
                                    {{orderInfo.order_value.toLocaleString()}} L.L</td>
                                <td ng-if="orderInfo.order_currency == 'dollar'">
                                    {{orderInfo.order_value.toLocaleString()}} $</td>

                                <td>{{orderInfo.delivery_fee.toLocaleString()}} L.L</td>

                            </tr>
                            <!-- third row -->
                            <tr>
                                <td colspan="3" class="cus_border_right"><b>Notes:</b> {{orderInfo.order_notes}}</td>
                                <td colspan="5" class="cus_border_right"><b>Address:</b>
                                    {{orderInfo.destination_address}}</td>

                                <td ng-if="orderInfo.order_currency == 'lira'" colspan="2"><b>Total:</b>
                                    {{(orderInfo.order_value + orderInfo.delivery_fee).toLocaleString()}} L.L</td>
                                <td ng-if="orderInfo.order_currency == 'dollar'" colspan="2"><b>Total:</b>
                                    {{ orderInfo.order_value.toLocaleString() }} $ +
                                    {{ orderInfo.delivery_fee.toLocaleString()}} L.L</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>