<div class="container-fluid" ng-cloak>

    <!-- Navigation tabs -->
    <div class="container justify-content-center d-flex">
        <ul class="nav nav-tabs nav-fills">
            <li class="nav-item text-center">
                <a class="nav-link text-secondary text-uppercase animate__animated"
                    ng-class="{'active': tabSelected === 0, 'active-tab-dir': tabSelected === 0, 'animate__fadeIn': tabSelected === 0}"
                    ng-click="selectTab(0)"><i class="fas fa-file-invoice fa-2x fa-fw"></i> Driver's Invoices</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-secondary text-uppercase animate__animated"
                    ng-class="{'active': tabSelected === 1, 'active-tab-dir': tabSelected === 1, 'animate__fadeIn': tabSelected === 1}"
                    ng-click="selectTab(1)"><i class="fas fa-users-cog fa-2x fa-fw"></i> Orders Archive</a>
            </li>
        </ul>
    </div>


    <div class="row mt-3" ng-show="tabSelected == 0">
        <!-- invoices table -->
        <div class="col-4">
            <!-- date input -->
            <div class="container-fluid row mb-2">
                <label class="col-1 col-form-label">Date:</label>
                <div class="col-7">
                    <input type="text" class="form-control text-center" id="invoiceDatePicker">
                </div>
                <div class="col-4">
                    <button class="btn btn-info" ng-click="today()">today</button>
                </div>
            </div>
            <!-- invoices -->
            <table class="table table-bordered text-center table-hover table-sm">
                <thead style="user-select: none">
                    <tr>
                        <th width="25%">Invoice #</th>
                        <th width="45%">Driver</th>
                        <th width="30%">Total Value</th>
                    </tr>
                </thead>
                <tbody style="user-select: none;">
                    <!-- driver's invoices -->
                    <tr dir-paginate="data in driversInvoice | itemsPerPage:10" pagination-id="invoices" class="pointer"
                        ng-click="getInvoiceDetails(data.invoice_ID)"
                        ng-class="{'table-active': isActive(data.invoice_ID)}">
                        <td>{{data.invoice_ID}}</td>
                        <td>{{data.driver_name}}</td>
                        <td>{{data.total_value.toLocaleString()}} L.L</td>
                    </tr>

                    <!-- if no records -->
                    <tr ng-if="driversInvoice.length == 0">
                        <td colspan="3" class="table-active">No Records Yet!</td>
                    </tr>
                </tbody>
            </table>
            <dir-pagination-controls pagination-id="invoices" max-size="5" direction-links="true" boundary-links="false"
                template-url="../templates/dirPagination.tpl.html">
            </dir-pagination-controls>

        </div>

        <!-- invoice details table -->
        <div class="col-8" ng-show="invoiceDetails.length > 0">
            <div class="row justify-content-betweens mb-2">
                <div class="col-5">
                    <button disabled class="btn btn-outline-dark btn-sms" ng-click="print()"><i class="fas fa-print"></i>
                        Print</button>
                    <button disabled class="btn btn-outline-danger btn-sms" ng-click="deleteInvoice()"><i
                            class="fas fa-trash-alt"></i> Delete</button>
                </div>
                <div class="col-3 ml-auto">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">
                                <i class="fas fa-search"></i>
                            </span>
                        </div>
                        <input id="search" type="text" class="form-control" ng-model="searchVal"
                            placeholder="Search ..." spellcheck="false">
                    </div>
                </div>
            </div>
            <table class="table table-bordered table-hover text-center table-sm select-off">
                <thead>
                    <tr>
                        <th width="25%">Customer Name</th>
                        <th width="25%">Order Number</th>
                        <th width="25%">Order Date</th>
                        <th width="25%">Total Value</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-click="showOrderDetails(data)" ng-repeat="data in invoiceDetails| filter: searchVal">
                        <td>{{data.customer_name}}</td>
                        <td>{{data.track_number}}</td>
                        <td>{{data.order_date}}</td>
                        <td>{{(data.order_value + data.delivery_fee).toLocaleString()}} L.L</td>
                    </tr>

                    <!-- if search is empty -->
                    <tr ng-if="(invoiceDetails | filter: searchVal).length == 0 && searchVal" class="table-active select-off">
                        <td colspan="4">No Matching Records Found!</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>