<div class="container-fluid" ng-cloak>

    <!-- Navigation tabs -->
    <div class="container justify-content-center d-flex">
        <ul class="nav nav-tabs nav-fills">
            <li class="nav-item text-center">
                <a class="nav-link text-secondary text-uppercase animate__animated"
                    ng-class="{'active': tabSelected === 0, 'active-tab-dir': tabSelected === 0, 'animate__fadeIn': tabSelected === 0}"
                    ng-click="selectTab(0)"><i class="fas fa-file-invoice fa-2x fa-fw"></i> Driver's Invoices</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-secondary text-uppercase animate__animated"
                    ng-class="{'active': tabSelected === 1, 'active-tab-dir': tabSelected === 1, 'animate__fadeIn': tabSelected === 1}"
                    ng-click="selectTab(1)"><i class="fas fa-users-cog fa-2x fa-fw"></i> Orders Archive</a>
            </li>
        </ul>
    </div>

    <!-- date input -->
    <div class="container row mb-2 mt-2 col-6">
        <label class="col-1 col-form-label">Date:</label>
        <div class="col-4">
            <input type="text" class="form-control text-center" id="invoiceDatePicker">
        </div>
        <div class="col-2">
            <button class="btn btn-info" ng-click="today()">today</button>
        </div>
    </div>

    <div class="row mt-3" ng-show="tabSelected == 0">
        <!-- invoices table -->
        <div class="col-5">
            <!-- invoices -->
            <table class="table table-bordered text-center table-hover table-sm">
                <thead style="user-select: none">
                    <tr>
                        <th width="15%">Invoice #</th>
                        <th width="25%">Driver</th>
                        <th width="20%">Total Value</th>
                        <th width="20%">Total Dollar</th>
                        <th width="20%">Status</th>
                    </tr>
                </thead>
                <tbody style="user-select: none;">
                    <!-- driver's invoices -->
                    <tr dir-paginate="data in driversInvoice | itemsPerPage:10" pagination-id="invoices" class="pointer"
                        ng-click="getInvoiceDetails(data.invoice_ID)"
                        ng-class="{'table-active': isActive(data.invoice_ID)}">
                        <td>{{data.invoice_ID}}</td>
                        <td>{{data.driver_name}}</td>

                        <td>{{data.total_value.toLocaleString()}} L.L</td>
                        <td>{{data.total_dollar.toLocaleString()}} $</td>

                        <td ng-if="data.invoice_isDelivered == 0" class="text-danger">Not Delivered</td>
                        <td ng-if="data.invoice_isDelivered == 1" class="text-success">Delivered</td>
                    </tr>

                    <!-- if no records -->
                    <tr ng-if="driversInvoice.length == 0">
                        <td colspan="5" class="table-active">No Records Yet!</td>
                    </tr>
                </tbody>
            </table>
            <dir-pagination-controls pagination-id="invoices" max-size="5" direction-links="true" boundary-links="false"
                template-url="../templates/dirPagination.tpl.html">
            </dir-pagination-controls>

        </div>

        <!-- invoice details table -->
        <div class="col-7" ng-show="invoiceDetails.length > 0">
            <div class="row justify-content-betweens mb-2">
                <div class="col-5">
                    <button disabled class="btn btn-outline-dark btn-sms" ng-click="print()"><i
                            class="fas fa-print"></i>
                        Print</button>
                    <button disabled class="btn btn-outline-danger btn-sms" ng-click="deleteInvoice()"><i
                            class="fas fa-trash-alt"></i> Delete</button>
                </div>
                <div class="col-3 ml-auto">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">
                                <i class="fas fa-search"></i>
                            </span>
                        </div>
                        <input id="search" type="text" class="form-control" ng-model="searchVal"
                            placeholder="Search ..." spellcheck="false">
                    </div>
                </div>
            </div>
            <table class="table table-bordered table-hover text-center table-sm select-off">
                <thead>
                    <tr>
                        <th width="25%">Customer Name</th>
                        <th width="25%">Order Number</th>
                        <th width="25%">Order Date</th>
                        <th width="25%">Total Value</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-click="showOrderDetails(data)" ng-repeat="data in invoiceDetails| filter: searchVal">
                        <td>{{data.customer_name}}</td>
                        <td>{{data.order_ID}}</td>
                        <td>{{data.order_date}}</td>

                        <td ng-if="data.order_currency == 'lira'">
                            {{(data.order_value + data.delivery_fee).toLocaleString()}} L.L</td>
                        <td ng-if="data.order_currency == 'dollar'">{{data.order_value.toLocaleString()}} $ +
                            {{ data.delivery_fee.toLocaleString() }} L.L</td>
                    </tr>

                    <!-- if search is empty -->
                    <tr ng-if="(invoiceDetails | filter: searchVal).length == 0 && searchVal"
                        class="table-active select-off">
                        <td colspan="4">No Matching Records Found!</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div ng-if="tabSelected == 1">
        <table class="table table-bordered table-striped table-sm text-center">
            <thead>
                <tr>
                    <th width="10%">Status</th>
                    <th width="15%">Driver</th>
                    <th width="15%">Customer Name</th>
                    <th width="10%">Order Date</th>
                    <th width="10%">Destination</th>
                    <th width="10%">Phone</th>
                    <!-- <th width="15%">Date Picked</th> -->
                    <th width="15%">Order Value</th>
                    <th width="10%">Delivery</th>
                    <th width="5%">More</th>
                </tr>
            </thead>
            <tbody>
                <tr dir-paginate="data in driverOrders | filter: searchVal.value | itemsPerPage:10">
                    <td class="text-danger" ng-if="data.order_status == 'driver'">Not Delivered</td>
                    <td class="text-success" ng-if="data.order_status == 'delivered'">Delivered</td>

                    <td>{{ data.driver_name }}</td>
                    <td>{{ data.customer_name }}</td>
                    <td>{{ data.order_date }}</td>
                    <td>{{ data.destination_town }}</td>
                    <td>{{ data.recipient_phone }}</td>
                    <!-- <td>{{ data.op_date }}</td> -->

                    <td ng-if="data.order_currency == 'lira'">{{ data.order_value.toLocaleString() }} L.L</td>
                    <td ng-if="data.order_currency == 'dollar'">{{ data.order_value.toLocaleString() }} $</td>

                    <td>{{ data.delivery_fee.toLocaleString() }} L.L</td>

                    <td width="4%" ng-click="showOrderDetails(data)" class="btn-outline-info"><i
                            class="fas fa-info-circle"></i></td>
                </tr>

                <tr>
                    <td colspan="11" class="table-active" ng-if="driverOrders.length === 0 && !searchVal.value">No data
                        available in table !</td>
                </tr>
            </tbody>
        </table>
        <dir-pagination-controls max-size="5" direction-links="true" boundary-links="false"
            template-url="../templates/dirPagination.tpl.html">
        </dir-pagination-controls>
    </div>

    <!-- invoice details modal -->
    <div class="modal fade" id="invoiceDetailsModal">
        <div class="modal-dialog modal-xl modal-dialog-scrollable">
            <div class="modal-content">
                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">Invoice Details</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <table class="table table-bordered table-sm text-center">
                        <thead>
                            <tr class="main_customers_row">
                                <th colspan="3" class="cus_border_right">Order</th>
                                <th colspan="5" class="cus_border_right">Recipient</th>
                                <th colspan="2">Cost</th>
                            </tr>
                        </thead>
                        <tbody>
                            <!-- Sub Columns : -->
                            <tr class="sub_customers_row">
                                <td>Number</td>
                                <td>Date</td>
                                <td class="cus_border_right">Time</td>
                                <td>Name</td>
                                <td>Phone</td>
                                <td>Province</td>
                                <td>District</td>
                                <td class="cus_border_right">Town</td>
                                <td>Order</td>
                                <td>Delivery</td>
                            </tr>
                            <!-- Data Columns : -->
                            <tr>
                                <td>{{selectedInvoiceDetails.order_ID}}</td>

                                <td>{{selectedInvoiceDetails.order_date}}</td>

                                <td class="cus_border_right">{{selectedInvoiceDetails.order_time}}</td>

                                <td>{{selectedInvoiceDetails.recipient_name}}</td>

                                <td>{{selectedInvoiceDetails.recipient_phone}}</td>

                                <td>{{selectedInvoiceDetails.destination_province}}</td>

                                <td>{{selectedInvoiceDetails.destination_district}}</td>

                                <td class="cus_border_right">{{selectedInvoiceDetails.destination_town}}</td>

                                <td ng-if="selectedInvoiceDetails.order_currency == 'lira'">
                                    {{selectedInvoiceDetails.order_value.toLocaleString()}} L.L</td>
                                <td ng-if="selectedInvoiceDetails.order_currency == 'dollar'">
                                    {{ selectedInvoiceDetails.order_value.toLocaleString() }} $</td>

                                <td>{{selectedInvoiceDetails.delivery_fee.toLocaleString()}} L.L</td>
                            </tr>
                            <!-- third row -->
                            <tr>
                                <td colspan="3" class="text-wrap order_note_col cus_border_right align-middle"><b>Notes
                                        :</b> {{selectedInvoiceDetails.order_notes}}</td>
                                <td colspan="5" class="cus_border_right align-middle"><b>Address :</b>
                                    {{selectedInvoiceDetails.destination_address}}</td>

                                <td ng-if="selectedInvoiceDetails.order_currency == 'lira'" colspan="2"
                                    class="align-middle"><b>Total :</b>
                                    {{(selectedInvoiceDetails.order_value + selectedInvoiceDetails.delivery_fee).toLocaleString()}}
                                    L.L</td>
                                <td ng-if="selectedInvoiceDetails.order_currency == 'dollar'" colspan="2"
                                    class="align-middle"><b>Total :</b>
                                    {{ selectedInvoiceDetails.order_value.toLocaleString() }} L.L +
                                    {{ selectedInvoiceDetails.delivery_fee.toLocaleString() }} L.L</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

</div>