<div class="container-fluid">

    <div class="row justify-content-between mb-3 mt-3 select-off">
        <div class="col-6">
            <div class="row align-items-center">
                <div class="col-auto">
                    <form class="form-inline">
                        <label>Show</label>
                        <select class="custom-select mr-1 ml-1" ng-model="itemsPerPage.value"
                            ng-options="option.value as option.name for option in options">
                        </select>
                        <label>entries</label>
                    </form>
                </div>
                <div class="col-auto">
                    <button class="btn btn-outline-success" ng-click="openNewOrderModal()"><i
                            class="fas fa-shopping-bag"></i> New Order</button>
                </div>
                <div class="col-auto ml-auto">
                    <button class="btn btn-outline-primary" ng-click="exportOrders()"><i class="fas fa-truck"></i>
                        New Invoice</button>
                    <button class="btn btn-outline-info" ng-click="openAddToInvoiceModal()"><i
                            class="fas fa-file-alt"></i>
                        Add to Invoice</button>
                </div>
            </div>
        </div>
        <div class="col-3">
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text">
                        <i class="fas fa-search"></i>
                    </span>
                </div>
                <input id="search" type="text" class="form-control" ng-model="searchVal.value" placeholder="Search ..."
                    spellcheck="false">
            </div>
        </div>
    </div>

    <table class="table table-bordered text-center table-sm" style="user-select: none">
        <thead>
            <tr>
                <th width="3%">#</th>
                <th width="20%" ng-click="sort('customer_name')"><i class="fas" ng-show="sortData.key == 'customer_name'"
                        ng-class="{'fa-arrow-up': !sortData.reverse, 'fa-arrow-down': sortData.reverse}"></i> Customer Name | Phone</th>
                <th width="10%" ng-click="sort('order_ID')"><i class="fas" ng-show="sortData.key == 'order_ID'"
                        ng-class="{'fa-arrow-up': !sortData.reverse, 'fa-arrow-down': sortData.reverse}"></i> Order Number</th>
                <th width="20%">Recipient | Phone</th>
                <th width="17%" ng-click="sort(['destination_province', 'destination_district', 'destination_town'])"><i class="fas" ng-show="sortData.key == ['destination_province', 'destination_district', 'destination_town']"
                    ng-class="{'fa-arrow-up': !sortData.reverse, 'fa-arrow-down': sortData.reverse}"></i> Address</th>
                <th width="10%">Total Value</th>
                <th width="10%">Notes</th>
                <th width="10%" colspan="2">More</th>
            </tr>
        </thead>
        <tbody>
            <tr dir-paginate="order in orders|filter: searchVal.value|orderBy:sortData.key:sortData.reverse|itemsPerPage:itemsPerPage.value"
                pagination-id="orderInfo" ng-class="{'table-active': order.selected == true}">
                <td ng-click="toggleSelection(order.order_ID)" class="btn-outline-secondary">
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input position-static pointer"
                            ng-model="order.selected">
                    </div>
                </td>
                <td>{{order.customer_name}} : {{order.customer_phone}}</td>
                <td>{{order.track_number}}</td>
                <td>{{order.recipient_name}} : {{order.recipient_phone}}</td>
                <td>{{order.destination_province}}, {{order.destination_district}}, {{order.destination_town}}</td>
                <td>{{(order.order_value + order.delivery_fee).toLocaleString()}} L.L</td>
                <td ng-if="order.order_notes" class="text-nowrap">{{order.order_notes}}</td>
                <td ng-if="!order.order_notes"> --- </td>
                <td width="5%" class="btn-outline-info" ng-click="openInfoModal(order.order_ID)"><i
                        class="fas fa-info-circle"></i> Info</td>
                <td width="5%" class="btn-outline-success" ng-click="openEditOrderModal(order.order_ID)"><i
                        class="fas fa-edit"></i> Edit</td>
            </tr>

            <!-- if no data available -->
            <tr class="table-active" ng-if="orders.length === 0 && !searchVal.value">
                <td colspan="8">No data available in table</td>
            </tr>

            <!-- if search found nothing -->
            <tr ng-if="(orders | filter: searchVal.value).length == 0 && searchVal.value" class="table-active select-off">
                <td colspan="8">No Matching Records Found!</td>
            </tr>
        </tbody>
    </table>
    <dir-pagination-controls pagination-id="orderInfo" max-size="5" direction-links="true" boundary-links="false"
        template-url="../templates/dirPagination.tpl.html">
    </dir-pagination-controls>

    <!-- order modal -->
    <div class="modal fade" id="orderModal">
        <div class="modal-dialog modal-xl">
            <div class="modal-content">
                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">{{modalTitle}}</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <form ng-submit="submit()">
                    <!-- Modal body -->
                    <div class="modal-body">
                        <!-- First row -->
                        <div class="row">
                            <div class="form-group col-3">
                                <label>Customer Phone</label>
                                <input id="choose" ng-change="validate()" ng-focus="select()"
                                    ng-class="{'is-invalid': isValid === false}" list="chooseCustomer"
                                    class="form-control text-center" ng-model="orderDetails.customer_phone" autofocus
                                    spellcheck="false" required ng-disabled="selectedModal == 'edit'">
                                <datalist id="chooseCustomer">
                                    <option ng-repeat="customer in customers" ng-value="customer.customer_phone">
                                        {{customer.customer_name}}</option>
                                </datalist>
                                <div ng-if="isValid === false" class="invalid-feedback">
                                    Please choose a correct phone number!
                                </div>
                            </div>
                            <div class="form-group col-3">
                                <label>Invoice Number</label>
                                <input type="number" class="form-control text-center"
                                    ng-model="orderDetails.track_number" min="0" required>
                            </div>
                            <div class="form-group col-3">
                                <label>Recipient Name</label>
                                <input type="text" class="form-control text-center"
                                    ng-model="orderDetails.recipient_name" spellcheck="false" required>
                            </div>
                            <div class="form-group col-3">
                                <label>Recipient Phone</label>
                                <input type="text" class="form-control text-center"
                                    ng-model="orderDetails.recipient_phone" min="0" max="999999999" required>
                            </div>
                        </div>

                        <!-- Second row -->
                        <div class="row">
                            <div class="form-group col-3">
                                <label>Destination Province/المحافظة</label>
                                <select class="form-control text-center" ng-model="orderDetails.destination_province"
                                    required>
                                    <option value=""></option>
                                    <option value="الجنوب">الجنوب</option>
                                    <option value="النبطية">النبطية</option>
                                    <option value="بيروت">بيروت</option>
                                    <option value="البقاع">البقاع</option>
                                    <option value="جبل لبنان">جبل لبنان</option>
                                    <option value="الشمال">الشمال</option>
                                    <option value="بعلبك الهرمل">بعلبك الهرمل</option>
                                    <option value="عكار">عكار</option>
                                    <option value="كسروان جبيل">كسروان جبيل</option>
                                </select>
                            </div>
                            <div class="form-group col-3">
                                <label>Destination District/القضاء</label>
                                <select class="form-control text-center" ng-model="orderDetails.destination_district">
                                    <option value=""></option>

                                    <option value="المتن" ng-if="orderDetails.destination_province === 'جبل لبنان'">
                                        المتن</option>
                                    <option value="بعبدا" ng-if="orderDetails.destination_province === 'جبل لبنان'">
                                        بعبدا</option>
                                    <option value="عاليه" ng-if="orderDetails.destination_province === 'جبل لبنان'">
                                        عاليه</option>
                                    <option value="الشوف" ng-if="orderDetails.destination_province === 'جبل لبنان'">
                                        الشوف</option>

                                    <option value="جبيل" ng-if="orderDetails.destination_province === 'كسروان جبيل'">
                                        جبيل</option>
                                    <option value="كسروان" ng-if="orderDetails.destination_province === 'كسروان جبيل'">
                                        كسروان</option>

                                    <option value="زحلة" ng-if="orderDetails.destination_province === 'البقاع'">زحلة
                                    </option>
                                    <option value="البقاع  الغربي"
                                        ng-if="orderDetails.destination_province === 'البقاع'">البقاع الغربي</option>
                                    <option value="راشيا" ng-if="orderDetails.destination_province === 'البقاع'">راشيا
                                    </option>

                                    <option value="الهرمل" ng-if="orderDetails.destination_province === 'بعلبك الهرمل'">
                                        الهرمل</option>
                                    <option value="بعلبك" ng-if="orderDetails.destination_province === 'بعلبك الهرمل'">
                                        بعلبك</option>

                                    <option value="طرابلس" ng-if="orderDetails.destination_province === 'الشمال'">طرابلس
                                    </option>
                                    <option value="زغرتا - الزاوية"
                                        ng-if="orderDetails.destination_province === 'الشمال'">زغرتا - الزاوية</option>
                                    <option value="بشري" ng-if="orderDetails.destination_province === 'الشمال'">بشري
                                    </option>
                                    <option value="البترون" ng-if="orderDetails.destination_province === 'الشمال'">
                                        البترون</option>
                                    <option value="الكورة" ng-if="orderDetails.destination_province === 'الشمال'">الكورة
                                    </option>
                                    <option value="الضنية" ng-if="orderDetails.destination_province === 'الشمال'">الضنية
                                    </option>

                                    <option value="عكار" ng-if="orderDetails.destination_province === 'عكار'">عكار
                                    </option>

                                    <option value="صور" ng-if="orderDetails.destination_province === 'الجنوب'">صور
                                    </option>
                                    <option value="صيدا" ng-if="orderDetails.destination_province === 'الجنوب'">صيدا
                                    </option>
                                    <option value="جزين" ng-if="orderDetails.destination_province === 'الجنوب'">جزين
                                    </option>

                                    <option value="بنت جبيل" ng-if="orderDetails.destination_province === 'النبطية'">بنت
                                        جبيل</option>
                                    <option value="النبطية" ng-if="orderDetails.destination_province === 'النبطية'">
                                        النبطية</option>
                                    <option value="مرجعيون" ng-if="orderDetails.destination_province === 'النبطية'">
                                        مرجعيون</option>
                                    <option value="حاصبيا" ng-if="orderDetails.destination_province === 'النبطية'">
                                        حاصبيا</option>
                                </select>
                            </div>
                            <div class="form-group col-3">
                                <label>Destination Town/البلدة</label>
                                <input id="townInput" spellcheck="false" type="text" class="form-control text-center"
                                    ng-model="orderDetails.destination_town" required>
                            </div>
                            <div class="form-group col-3">
                                <label>Destination Address</label>
                                <input spellcheck="false" type="text" class="form-control text-center"
                                    ng-model="orderDetails.destination_address" required>
                            </div>
                        </div>

                        <!-- Third row -->
                        <div class="row">
                            <div class="form-group col-3">
                                <label>Order Value</label>
                                <input spellcheck="false" type="number" class="form-control text-center"
                                    ng-model="orderDetails.order_value" min="0" required>
                            </div>
                            <div class="form-group col-3">
                                <label>Delivery fee</label>
                                <input type="number" class="form-control text-center"
                                    ng-model="orderDetails.delivery_fee" min="0" required>
                            </div>
                            <div class="form-group col-3">
                                <label>Order Date</label>
                                <input id="modelDatepicker" type="text" class="form-control text-center"
                                    ng-model="orderDetails.order_date" required>
                            </div>
                            <div class="form-group col-3">
                                <label>Notes</label>
                                <input type="text" class="form-control text-center" ng-model="orderDetails.order_notes">
                            </div>
                        </div>

                    </div>
                    <!-- Modal footer -->
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal"><i
                                class="fas fa-times fa-fw"></i> Cancel</button>
                        <button type="submit" class="btn btn-success"><i class="fas fa-check fa-fw"></i>
                            Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!-- Choose Driver Modal -->
    <!-- Modal -->
    <div class="modal fade" id="chooseDriver" data-backdrop="static" data-keyboard="false" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <!-- head -->
                <div class="modal-header">
                    <h5 class="modal-title">Choose Driver</h5>
                    <button type="button" class="close" data-dismiss="modal">
                        <span>&times;</span>
                    </button>
                </div>
                <!-- body -->
                <form ng-submit="submitExport()">
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-6">
                                <label>Driver Name</label>
                                <select class="form-control" ng-model="orderInvoice.driver_ID_FK" required>
                                    <option value=""> --- </option>
                                    <option ng-repeat="driver in drivers" ng-value="driver.driver_ID">
                                        {{driver.driver_name}}</option>
                                </select>
                            </div>
                            <div class="col-6">
                                <label>Invoice Date:</label>
                                <input id="driverDatepicker" type="text" class="form-control text-center"
                                    ng-model="orderInvoice.pickup_date" required>
                            </div>
                        </div>
                        <br>
                    </div>
                    <!-- footer -->
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal"><i
                                class="fas fa-times fa-fw"></i> Cancel</button>
                        <button type="submit" class="btn btn-primary"><i class="fas fa-check fa-fw"></i>
                            Confirm</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!-- Choose Invoice Modal -->
    <div class="modal fade" id="chooseInvoice" data-backdrop="static" data-keyboard="false" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <!-- head -->
                <div class="modal-header">
                    <h5 class="modal-title">Select Invoice</h5>
                    <button type="button" class="close" data-dismiss="modal">
                        <span>&times;</span>
                    </button>
                </div>
                <!-- body -->
                <form ng-submit="addToInvoice()">
                    <div class="modal-body">
                        <label>Choose Invoice:</label>
                        <select class="custom-select" ng-model="selectedInvoice.invoice_ID" required>
                            <option value=""> --- </option>
                            <option ng-repeat="invoice in invoices" ng-value="invoice.invoice_ID">
                                {{invoice.invoice_ID}}</option>
                        </select>
                    </div>
                    <!-- footer -->
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal"><i
                                class="fas fa-times fa-fw"></i> Cancel</button>
                        <button type="submit" class="btn btn-primary"><i class="fas fa-check fa-fw"></i>
                            Confirm</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!-- Order Info modal -->
    <div class="modal fade" id="infoModal">
        <div class="modal-dialog modal-xl modal-dialog-scrollable">
            <div class="modal-content">
                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">Order Info</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <table class="table table-bordered table-sm text-center">
                        <thead>
                            <tr class="main_customers_row">
                                <th colspan="3" class="cus_border_right">Order</th>
                                <th colspan="5" class="cus_border_right">Recipient</th>
                                <th colspan="2">Value</th>
                            </tr>
                        </thead>
                        <tbody>
                            <!-- Sub Columns : -->
                            <tr class="sub_customers_row">
                                <td>Number</td>
                                <td>Date</td>
                                <td class="cus_border_right">Time</td>
                                <td>Name</td>
                                <td>Phone</td>
                                <td>Province</td>
                                <td>District</td>
                                <td class="cus_border_right">Town</td>
                                <td>Order</td>
                                <td>Delivery</td>
                            </tr>
                            <!-- Data Columns : -->
                            <tr>
                                <td>{{orderInfo.track_number}}</td>
                                <td>{{orderInfo.order_date}}</td>
                                <td class="cus_border_right">{{orderInfo.order_time}}</td>
                                <td>{{orderInfo.recipient_name}}</td>
                                <td>{{orderInfo.recipient_phone}}</td>
                                <td>{{orderInfo.destination_province}}</td>
                                <td>{{orderInfo.destination_district}}</td>
                                <td class="cus_border_right">{{orderInfo.destination_town}}</td>
                                <td>{{orderInfo.order_value.toLocaleString()}} L.L</td>
                                <td>{{orderInfo.delivery_fee.toLocaleString()}} L.L</td>
                            </tr>
                            <!-- third row -->
                            <tr>
                                <td colspan="3" class="cus_border_right"><b>Notes:</b> {{orderInfo.order_notes}}</td>
                                <td colspan="5" class="cus_border_right"><b>Address:</b>
                                    {{orderInfo.destination_address}}</td>
                                <td colspan="2"><b>Total:</b>
                                    {{(orderInfo.order_value + orderInfo.delivery_fee).toLocaleString()}} L.L</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

</div>