<div class="container-fluid select-off">
    <div class="mt-3">
        <button ng-click="newPickupInvoice()" class="btn btn-outline-success"><i class="fas fa-plus"></i> New
            Invoice</button>
    </div>

    <div class="row mt-3">
        <div class="col-5">

            <table class="table table-bordered table-hover table-sm text-center">
                <thead>
                    <th width="20%">Invoice #</th>
                    <th width="35%">Driver Name</th>
                    <th width="20%">Date</th>
                    <th width="25%">Total Value</th>
                </thead>
                <tbody>
                    <tr ng-repeat="data in invoices" ng-click="showInvoiceDetails(data.pickup_ID)"
                        ng-class="{'table-active': isActive(data.pickup_ID)}">
                        <td>{{ data.pickup_ID }}</td>
                        <td>{{ data.driver_name }}</td>
                        <td>{{ data.pickup_date }}</td>
                        <td>{{ data.total_value.toLocaleString() }} L.L</td>
                    </tr>

                    <tr class="table-active" ng-if="invoices.length == 0">
                        <td colspan="3">There are no Records yet!</td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="col-7" ng-if="activeRow !== 0">
            <div class="row mb-2">
                <div class="col-5">
                    <button ng-click="newOrderModal()" class="btn btn-outline-primary"><i class="fas fa-plus"></i> Add
                        Orders</button>
                    <button ng-click="print()" class="btn btn-outline-dark btn-sms"><i class="fas fa-print"></i>
                        Print</button>
                    <!-- <button disabled class="btn btn-outline-danger btn-sms" ng-click="deleteInvoice()"><i
                            class="fas fa-trash-alt"></i> Delete</button> -->
                </div>
                <div class="col-auto">
                    <button ng-click="deliver()" class="btn btn-outline-success"><i
                            class="fas fa-check-circle"></i> Mark As Delivered</button>
                </div>
                <div class="col-4 ml-auto">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">
                                <i class="fas fa-search"></i>
                            </span>
                        </div>
                        <input id="search" type="text" class="form-control" ng-model="searchVal"
                            placeholder="Search ..." spellcheck="false">
                    </div>
                </div>
            </div>
            <table class="table table-bordered table-sm text-center">
                <thead>
                    <th width="25%">Customer Name</th>
                    <th width="20%">Customer Phone</th>
                    <th width="15%"
                        ng-click="sort(['customer_province', 'customer_district', 'customer_town'])"><i
                            class="fas"
                            ng-class="{'fa-arrow-up': !sortData.reverse, 'fa-arrow-down': sortData.reverse}"></i> Town
                    </th>
                    <th width="10%"># Orders</th>
                    <th width="15%">Total Paid</th>
                    <th width="15%" colspan="2">More</th>
                </thead>
                <tbody>
                    <tr ng-repeat="data in invoiceDetails | filter:searchVal | orderBy:sortData.key:sortData.reverse">
                        <td>{{ data.customer_name }}</td>
                        <td>{{ data.customer_phone }}</td>
                        <td>{{ data.customer_town }}</td>
                        <td>{{ data.order_count }}</td>
                        <td>{{ data.total_paid.toLocaleString() }} L.L</td>
                        <td width="7.5%" class="btn-outline-success" ng-click="editOrderModal(data.map_ID)"><i
                                class="fas fa-edit"></i></td>
                        <td width="7.5%" class="btn-outline-danger"
                            ng-click="removeOrder(data.map_ID, data.pickup_ID_FK, data.total_paid)"><i
                                class="fas fa-times"></i></td>
                    </tr>

                    <!-- if search found nothing -->
                    <tr ng-if="(invoiceDetails | filter: searchVal).length == 0 && searchVal"
                        class="table-active select-off">
                        <td colspan="6">No Matching Records Found!</td>
                    </tr>

                    <!-- if no data -->
                    <tr ng-show="invoiceDetails.length == 0" class="table-active">
                        <td colspan="6">No Data Yet!</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <!-- invoice modal -->
    <div class="modal fade" id="pickupInvoiceModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">Add New Order Invoice</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <form ng-submit="submitInvoice()">
                    <!-- Modal body -->
                    <div class="modal-body">
                        <div class="row">
                            <div class="form-group col-6">
                                <label>Driver</label>
                                <select class="custom-select"
                                    ng-options="driver.driver_ID as driver.driver_name for driver in drivers"
                                    ng-model="pickupInvoice.driver_ID_FK" required>
                                    <option></option>
                                </select>
                            </div>

                            <div class="form-group col-6">
                                <label>Invoice Date</label>
                                <input id="invoiceDatepicker" type="text" class="form-control text-center"
                                    ng-model="pickupInvoice.pickup_date" required>
                            </div>
                        </div>

                        <!-- Modal footer -->
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal"><i
                                    class="fas fa-times fa-fw"></i> Cancel</button>
                            <button type="submit" class="btn btn-success"><i class="fas fa-check fa-fw"></i>
                                Submit</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!-- orders modal -->
    <div class="modal fade" id="pickupOrderModal">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">Add New Order</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <form ng-submit="submitOrder()">
                    <!-- Modal body -->
                    <div class="modal-body">
                        <div class="row">
                            <div class="form-group col-4">
                                <label>Customer Phone</label>
                                <input id="choose" ng-change="validate()" ng-focus="select()"
                                    ng-class="{'is-invalid': isValid === false}" list="chooseCustomer"
                                    class="form-control text-center" ng-model="pickupDetails.customer_phone" autofocus
                                    spellcheck="false" required ng-disabled="selectedModal == 'edit'">
                                <datalist id="chooseCustomer">
                                    <option ng-repeat="customer in customers" ng-value="customer.customer_phone">
                                        {{customer.customer_name}}</option>
                                </datalist>
                                <div ng-if="isValid === false" class="invalid-feedback">
                                    Please choose a correct phone number!
                                </div>
                            </div>
                            <div class="form-group col-4">
                                <label>Number of Orders</label>
                                <input spellcheck="false" type="number" min="0" class="form-control text-center"
                                    ng-model="pickupDetails.order_count" required>
                            </div>
                            <div class="form-group col-4">
                                <label>Money to Pay</label>
                                <input spellcheck="false" type="number" min="0" class="form-control text-center"
                                    ng-model="pickupDetails.total_paid" required>
                            </div>
                        </div>

                        <!-- Modal footer -->
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal"><i
                                    class="fas fa-times fa-fw"></i> Cancel</button>
                            <button type="submit" class="btn btn-success"><i class="fas fa-check fa-fw"></i>
                                Submit</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>






</div>