<div class="container-fluid">

    <div class="row justify-content-between mb-3 mt-3 select-off">
        <div class="col-6">
            <div class="row align-items-center">
                <div class="col-auto">
                    <form class="form-inline">
                        <label>Show</label>
                        <select class="custom-select mr-1 ml-1" ng-model="itemsPerPage"
                            ng-options="option.value as option.name for option in options">
                        </select>
                        <label>entries</label>
                    </form>
                </div>
                <div class="col-auto">
                    <button class="btn btn-outline-success" ng-click="openItemModal('add', null)"
                        ng-show="loggedInUser.canAddItem === 1">+ Add +</button>
                </div>
                <div class="col-auto">
                    
                    <div class="custom-control custom-switch">
                        <input type="checkbox" class="custom-control-input pointer" id="currency" ng-model="isDollar"
                        ng-click="toggleCurrency()">
                        <label class="custom-control-label pointer" for="currency">Toggle $</label>
                    </div>
                </div>
                <div class="col-auto">
                    <!-- <div class="custom-control custom-switch ">
                        <input type="checkbox" class="custom-control-input pointer" id="hiddenItems" ng-model="toggledCondition">
                        <label class="custom-control-label pointer" for="hiddenItems">Show Hidden Items</label>
                    </div> -->
                </div>
            </div>
        </div>
        <div class="col-3">
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text">
                        <i class="fas fa-search"></i>
                    </span>
                </div>
                <input id="search" type="text" class="form-control" ng-model="searchVal" placeholder="Search ..." spellcheck="false">
            </div>
        </div>
    </div>



    <div>
        <table class="table table-bordered table-hover table-striped text-center table-sm select-off">
            <thead>
                <tr>
                    <th width="5%" ng-click="sort('IID')" class="pointer"><i class="fas" ng-show="sortKey == 'IID'"
                            ng-class="{'fa-arrow-up': !reverse, 'fa-arrow-down': reverse}"></i> ID</th>
                    <th width="15%">Barcode</th>
                    <th width="30%" ng-click="sort('item_name')" class="pointer"><i class="fas"
                            ng-show="sortKey == 'item_name'"
                            ng-class="{'fa-arrow-up': !reverse, 'fa-arrow-down': reverse}"></i> Item Name
                    </th>
                    <th width="7%">Quantity</th>
                    <th ng-if="loggedInUser.type === 'admin'">Cost</th>
                    <th width="15%">Price</th>
                    <th width="18%">Notes</th>
                </tr>
            </thead>
            <tbody>
                <tr class="pointer"
                    dir-paginate="item in items|filter: searchVal| orderBy:sortKey:reverse|itemsPerPage:itemsPerPage"
                    ng-dblclick="openItemModal('edit', item.IID)">
                    <td>{{item.IID}}</td>

                    <td ng-if="item.barcode">{{item.barcode}}</td>
                    <td ng-if="!item.barcode">---</td>

                    <td>{{item.item_name}}</td>
                    <td>{{item.item_qty}}</td>


                    <td ng-if="loggedInUser.type === 'admin' && isDollar === true && item.item_currency === 'dollar'">
                        {{ item.item_cost.toLocaleString() }} $</td>
                    <td ng-if="isDollar === true && item.item_currency === 'dollar'">
                        {{ item.item_price.toLocaleString() }} $</td>


                    <td ng-if="loggedInUser.type === 'admin' && isDollar === false && item.item_currency === 'dollar'">
                        {{ (item.item_cost * exchangeRate.exchange_rate).toLocaleString() }} L.L</td>
                    <td ng-if="isDollar === false && item.item_currency === 'dollar'">
                        {{ (item.item_price * exchangeRate.exchange_rate).toLocaleString() }}
                        L.L</td>

                    <td ng-if="loggedInUser.type === 'admin' && item.item_currency === 'lira'">
                        {{ (item.item_cost).toLocaleString() }} L.L</td>
                    <td ng-if="item.item_currency === 'lira'">
                        {{ (item.item_price).toLocaleString() }}
                        L.L</td>



                    <td ng-if="item.notes">{{item.notes}}</td>
                    <td ng-if="!item.notes">---</td>
                </tr>

                <!-- if table is empty -->
                <tr ng-if="items.length == 0" class="table-active select-off">
                    <td colspan="7">There are no data available yet!</td>
                </tr>

                <!-- if search found nothing -->
                <tr ng-if="(items | filter: searchVal).length == 0 && searchVal" class="table-active select-off">
                    <td colspan="7">No Matching Records Found!</td>
                </tr>
            </tbody>
        </table>

        <dir-pagination-controls max-size="5" direction-links="true" boundary-links="false"
            template-url="../templates/dirPagination.tpl.html">
        </dir-pagination-controls>
    </div>

    <!-- <div class="d-flex justify-content-center align-items-center">
        <ul class="list-group list-group-horizontal">
            <li class="list-group-item list-group-item-secondary"><b>Total Quantity:</b> {{ totalStock.total_qty }}</li>
            <li class="list-group-item list-group-item-secondary"><b>Total Cost:</b>
                {{totalStock.total_cost.toLocaleString()}} L.L</li>
            <li class="list-group-item list-group-item-secondary"><b>Total Price:</b>
                {{totalStock.total_price.toLocaleString()}} L.L</li>
            <li class="list-group-item list-group-item-secondary"><b>Total Earnings:</b>
                {{ (totalStock.total_price - totalStock.total_cost).toLocaleString() }} L.L</li>
        </ul>
    </div> -->

    <!--  Items MODAL -->
    <div class="modal fade" id="itemModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">{{modalTitle}}</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <form name="itemForm" ng-submit="submit()">
                    <!-- Modal body -->
                    <div class="modal-body">
                        <label>Name</label>
                        <input class="form-control" ng-model="modalItem.item_name" id="modalItemName" type="text"
                            autocomplete="off" autofocus required>

                        <div class="row">
                            <div class="col-6">
                                <label>Barcode</label>
                                <input ng-change="checkBarcode(modalItem.barcode)" class="form-control"
                                    ng-class="{'is-invalid': barcodeExisted === true}" ng-model="modalItem.barcode"
                                    id="modalItemBarcode" autocomplete="off">
                                <div ng-if="barcodeExisted === true" class="invalid-feedback">
                                    Barcode Already Existed!
                                </div>
                            </div>
                            <div class="col-6">
                                <label>Quantity</label>
                                <input class="form-control" ng-model="modalItem.item_qty" type="number"
                                    autocomplete="off" required min="0">
                            </div>
                        </div>

                        <div class="row my-0">
                            <div class="col-6">
                                <label style="margin-bottom: 0 !important">Currency</label>
                                <div class="custom-control custom-radio">
                                    <input type="radio" id="dollarRadio" class="custom-control-input"
                                        ng-model="modalItem.item_currency" value="dollar">
                                    <label class="custom-control-label" for="dollarRadio">Dollar $</label>
                                </div>
                                <div class="custom-control custom-radio">
                                    <input type="radio" id="liraRadio" class="custom-control-input"
                                        ng-model="modalItem.item_currency" value="lira">
                                    <label class="custom-control-label" for="liraRadio">LBP L.L</label>
                                </div>
                            </div>
                            <div class="col-6">
                                <label ng-if="loggedInUser.type === 'admin' || modalMode === 'add'">Cost</label>
                                <input ng-if="loggedInUser.type === 'admin' || modalMode === 'add'" class="form-control"
                                    ng-model="modalItem.item_cost" type="number" autocomplete="off" step="any" required>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-6">
                                <label>Price</label>
                                <input class="form-control" ng-model="modalItem.item_price" type="number" step="any"
                                    autocomplete="off" required>
                            </div>
                            <div class="col-6">
                                <label>Notes</label>
                                <input class="form-control" ng-model="modalItem.notes" type="name" autocomplete="off">
                            </div>
                        </div>
                        <div class="mt-3 text-center" ng-if="modalMode === 'edit'">
                            <!-- <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="customCheck1" ng-model="modalItem.is_hidden">
                                <label class="custom-control-label" for="customCheck1">Check this custom checkbox</label>
                              </div> -->
                            <div class="custom-control custom-switch">
                                <input type="checkbox" class="custom-control-input pointer" id="isHidden"
                                    ng-model="modalItem.is_hidden" ng-click="toggleHiddenItem()">
                                <label class="custom-control-label pointer" for="isHidden">Hide Item</label>
                            </div>
                        </div>
                    </div>
                    <!-- Modal footer -->
                    <div class="modal-footer">
                        <button class="btn btn-secondary" type="button" data-dismiss="modal"><i
                                class="fas fa-times"></i> Cancel</button>
                        <button class="btn btn-danger" type="button" ng-if="modalMode === 'edit'"
                            ng-click="deleteItem()"><i class="far fa-trash-alt"></i> Delete Item</button>
                        <button class="btn btn-success" type="submit"><i class="fas fa-check"></i>
                            Confirm</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>